.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;



    .body-front,
    .body-back {
        width: 100%;
        max-width: 350px;
        padding-top: 40%;
        position: relative;
    }

    .body__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;

        svg {
            stroke: rgb(184, 45, 45);

            g {
                cursor: pointer;
                fill: rgba(216, 216, 216, 0);
            }

            .right {
                transform: translate(180deg);
            }

            g.selected {
                opacity: 0.6;
                stroke: rgb(247, 161, 161);
            }

            g.hovered {
                stroke: rgba(184, 45, 45, 0.6);

            }

        }

    }

    @media (max-width: 767px) {
        flex-wrap: wrap;

        .body-front,
        .body-back {
            padding-top: 140%;
        }
    }
}