.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    color: #FFF;

    &__logo {
        font-size: 24px;
        color: #FFF;
        font-weight: 600;
        line-height: 122.2%;
        letter-spacing: 1px;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;

    &__link {
        color: #FFF;
        opacity: 0.67;
        font-size: 12px;
        letter-spacing: 1.5px;
        transition: opacity .2s ease-in-out;
        font-size: 16px;

        &:hover {
            opacity: 1;
        }
    }
}