.one-exercise {
    &__link {
        display: inline-block;
        padding: 8px 24px;
        border-radius: 15px;
        background: $accent;
        color: $white;
        transition: all .2s ease-in;
        font-size: 24px;
        letter-spacing: 1px;
        margin: 0 auto 48px 0;

        &:hover {
            color: $accent;
            background: #fff;
        }

        @media (max-width: 767px) {
            font-size: 12px;
            padding: 4px 16px;
        }
    }

    &__card {
        display: flex;
        padding: 8px 24px;
        color: $white;
        font-size: 24px;
        justify-content: space-between;
        gap: 16px;

        @media (max-width: 767px) {}
    }

    &__desc {
        font-size: 24px;
        flex: 1 1 auto;
        text-transform: capitalize;

        h4 {
            text-align: center;
            font-size: 32px;
            margin-bottom: 32px;
        }

        li {
            display: flex;
            justify-content: space-between;
            gap: 16px;
            padding: 8px;
        }

        @media (max-width: 767px) {}
    }

    &__image {
        overflow: hidden;
        border-radius: 10px;

        @media (max-width: 767px) {}
    }
}