.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    font-size: 24px;
    gap: 4px;

    .page {
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        padding: 0 8px;
    }

    .active {
        color: rgba(255, 255, 255);
    }

    .previous,
    .next {
        color: rgba(255, 255, 255);
        cursor: pointer;

        &.disabled {
            color: rgba(255, 255, 255, 0.3);
        }
    }

    .next {
        margin: 0 0 0 auto;
    }

    .previous {
        margin: 0 auto 0 0;
    }

    @media (max-width: 480px) {

        .previous,
        .next {
            display: none; // was trying to save it and make it by grid but it actually dont make any sense 
        }
    }
}