.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    .page {
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        margin: 0 6px;
    }

    .previous,
    .next {
        color: rgba(255, 255, 255);
        cursor: pointer;

        &.disabled {
            color: rgba(255, 255, 255, 0.3);
        }
    }

    .next {
        margin: 0 0 0 auto;
    }

    .previous {
        margin: 0 auto 0 0;
    }

    .active {
        color: rgba(255, 255, 255);
        margin: 0 10px;
    }

    @media (max-width: 767px) {
        li {
            margin: 0 4px;
        }

        .active {
            color: rgba(255, 255, 255);
            margin: 0 8px;
        }
    }
}