.search {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;

    &__input {
        width: 100%;
        max-width: 380px;
        padding: 8px;
        color: black;
        background-color: $white;
        border-radius: 8px 0 0 8px;
    }

    &__button {
        padding: 8px;
        background: #fffffffc;
        color: black;
        border-radius: 0 5px 5px 0;
    }
}