.search {
    display: flex;
    margin-bottom: 48px;
    justify-content: center;

    input {
        padding: 8px;
        background-color: $white;
        border-radius: 8px 0 0 8px;
        color: black;
        max-width: 380px;
        width: 100%;
    }

    button {
        background: #fffffffc;
        color: black;
        padding: 8px;
        border-radius: 0 5px 5px 0;
    }
}